  <!-- Make sure all your bars are the first things in your <body> -->

  <div class="jumbotron">
    <h1>Jotly</h1>
    <br>
    <p>Welcome to a constantly improving image board experience based on user feedback</p>
    <p>Post pictures, comment, and discuss</p>
  </div>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <div class="card">
          <strong><%=link_to "Sign up", new_user_path, class: "btn btn-primary" %></strong>
          <strong><%=link_to "Login", new_session_path, class: "btn btn-warning" %></strong>
      <% if session[:current_user].present? %>
          <strong><%=link_to "Continue as user: #{current_user.name}", jots_path, class: "btn btn-info" %></strong>
      <% end %>
    </div>
  </div>
