  <!-- Make sure all your bars are the first things in your <body> -->

  <div class="jumbotron">
    <h1>Jotly</h1>
    <p>Welcome to a constantly improving experience based on user feedback</p>
  </div>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <p class="content-padded">Sign up or Login to continue:</p>
    <div class="card">
      <ul class="table-view">
        <li class="table-view-cell">
            <strong><%=link_to "Sign up", new_user_path %></strong>
        </li>
        <li class="table-view-cell">
            <strong><%=link_to "Login", new_session_path %></strong>
        </li>
        <li class="table-view-cell">
          <strong><%=link_to "Go to Jots", jots_path %></strong>
        </li>
      </ul>
    </div>
  </div>
