// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding-top: 60px;
}
    .thumbnail{
      position:relative;
      height:100%;
      background-color: red;

      div.img{
        margin-left: 0;
        position:relative;
        .post_options{
          position:absolute;
          bottom:0px;
          left:310px;
        }
      }
      .content{

      }
}
