// Place all the styles related to the jots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jot {
  padding:10px;
    .thumbnail{
      position:relative;
      height:565px;
    }
      img.img-responsive{
        margin-left:0;
      }
      .content{
        height:100%;
        overflow-y:scroll;
      }
      .post_options{
        position:absolute;
        bottom:10px;
      }
}

// Jots near me

  html, body, #map-canvas {
    height: 1000px;
    width: 1000px;
    margin: 0px;

  }
  #panel {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
  }
