// Place all the styles related to the jots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paginate_top{
  position:absolute;
  right:10%;

}
#paginate_bottom{
  position:relative;
  left:80%;
  margin-top:0px;
}
.non_jot_text{
  font-family: monospace;;
}

.jot {
  padding:10px;
    .thumbnail{
      position:relative;
      height:565px;
    }
    .sticky{
      background-color:lightblue;
    }
      img.img-responsive{
        margin-left:0;
      }
      .content{
        height:100%;
        overflow-y:scroll;
      }
      .post_options{
        position:absolute;
        bottom:10px;
      }
}
