<ul class="nav nav-tabs">
  <li role="presentation"><a href="/jots">All Jots</a></li>
  <li role="presentation" class="active"><a href="/followed">Followed Jots</a></li>
  <li role="presentation"><a>My Jots</a></li>
  <li role="presentation"><a><span style="color:red">Nearby Jots</span></a></li>

</ul>



<h1>followed</h1>


<% @followed_jots.sort_by(&:created_at).reverse.each do |jot| %>

  <!-- Display Content -->














  <p><%=jot.content%></p>
<%end%>
